* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 800px;
    font-family: 'Inter', sans-serif;
    color: #222E42;
    background-color: #F2F5FA;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}

header {
    text-align: center;
}

main {
    display: block;
}

img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    margin: 2%;
    margin-left: 200px;
    margin-right: 200px;
}