body {
    font-family: 'Inter', sans-serif;
    color: #222E42;
    background-color: #F2F5FA;
    display: grid;
    margin: 0 auto;
    width: 800px;
    text-align: justify;
}

header {
    text-align: center;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    background-color: #222E42;
    animation: fade 15s;
    margin-bottom: 2%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}